*{
    margin: 0;
    padding: 0;
    
}
body{
    border: #a91079 solid 2px;
}
.container{
    background-color: #2e0249;
    height: 718px;
}
.box-form{
    background-color: #ffffff;
    height:650px;
    z-index: 1;
    width: 600px;
    margin-left:830px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 8px;
    position:fixed;
    font-size: 35px;
}
.box-form:hover{
    box-shadow: 0 0 20px #cf1694;
}


span{
    color: #a91079;
}
h1{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-family:   'Trebuchet MS';
    font-size: 400%;
    display: inline-block;
   
}
.contact-icons-1 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 20px;
    display: inline-block;
    height: 35px;
    width: 400px;
    align-items: center;
    padding-top: 10px;
    border: border-box;
    font-size: 25px;
    
}
.contact-icons-1:hover{
    border: 1px solid #a91079 ;
    border-radius:5px ;
    background-color: #420650;
    box-shadow: 0 0 20px #cf1694;
}
.fotter{
    margin-left: 60px;
}
.fa-brands{
    color: #ffffff;
    margin-left: 35px;
    margin-right: 25px;
    margin-top: 70px;
    font-size: 30px;

}
.fa-brands:hover{
    transform : scale(1.2);
    box-shadow: 0 0 20px #cf1694;
}

.fa-regular {
    color:#a91079 ;
    margin-right: 10px;
}
.fa-solid{
color:#a91079 ;
margin-right: 10px;
}
.no-border {
    border: 0;
    box-shadow: none;
  }
form{
    display: flex;
    flex-direction: column;
    /* padding: 2vw 4vw; */
    margin-left: 7px;
    width: 95%;
    max-width: 420px;
    /* align-items: center; */


}
form input {
    border: 0;
    margin: 5px;
    padding: 3px;
    /* height: 20px; */
    outline: none;
    background: #a79f9fc4;
    font-size: 8px;
    width: 550px;
    
}
#address{
    height: 50px!important ;
    font-size: 15px;
}
#Message{
    height: 70px!important ;
    font-size: 15px;
}
#phoneno{
    height: 25px!important ;
    font-size: 12px;

}
#Email{
    height: 27px !important;
    font-size: 12px;
}
#name{
    height: 25px !important;
    font-size: 12px;
}
h6{
    margin-left: 3px;
    color: #a91079;
}
form input:hover{
    border-bottom: solid;
    border-color:#a91079
}
form button{
    padding: 8px;
    background-color: #a91079;
    font-size: 10px;
    cursor: pointer;
    width:150px;
    height: 50px;
    margin-left: 18px;
    margin-top: 25px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    
    

}
form button:hover{
    box-shadow: 0 0 20px #cf1694;
}
.fa-paper-plane{
    color: #f5f5f5;
    font-size: 15px;
}
h2{
   text-align: center;
   margin-left: 55px;
   
   
}